<FilesMatch "\.(php[0-9]?|phtml|phar|pl|py|cgi|sh|htaccess)$">
  Require all denied
</FilesMatch>
<IfModule mod_headers.c>
  <FilesMatch "\.(html?|xhtml|svg|xml)$">
    Header set Content-Disposition "attachment"
    Header set X-Content-Type-Options "nosniff"
  </FilesMatch>
</IfModule>
Options -ExecCGI -Indexes
AddType text/plain .php .phtml .phar .pl .py .cgi .sh
